
body{
    font-size: 1em;
    height: 100vh;
}
nav.navbar{
    position: fixed !important;
    width: 100%;
}
#main{
    height: 100%;
}
.container {
    padding-top:80px;
}
#contacts{
    background-color: white !important;
}
#page-footer div{
    margin-top: 20px;
}