.container {
    margin-top:50px;
}

#tooggler {
    text-align: center;
    margin-bottom: 20px;
}
#gallery img {
    display: inline-block;
    image-orientation: from-image;
    max-width: 300px;
    max-height: 300px;
    
    margin:10px;
}

#gallery iframe {
    display: inline-block;
    max-width: 300px;
    max-height: 300px;
    
    margin:10px;
}
