.container {
    padding-top:70px;
}

#tooggler {
    text-align: center;
    margin-bottom: 20px;
}

#gallery{
    background-color: white;
}
.time-stamp{
    margin-left: 17vw;
}
#gallery img {
    display: inline-block;
    image-orientation: from-image;
    max-width: 300px;
    max-height: 300px;
    
    margin:10px;
}