/* MAIN STYLESHEET */

/* 1 Carrousel */

.carrousel-inner img {
    width: 100%;
    margin:auto;
}


/* 2 Presentation générale & avancement de la campgne */
#description_cg {
    width: 100%;
    margin-bottom:40px;
}

#description_cg p{
    color:white;
    text-align: justify;
}

#description_cg strong{
    white-space: nowrap
}
#home{
    background-color: #375e7b;
}

#prochain_objectif {
    color:white;
    text-align: center;
    font-size:2em;
    margin:0;
}

#promo-text {
    font-size: 0.80em;
    margin-top:25px;
    margin-bottom:20px;
}
.bars{
    margin-top:35px;
}
#promo-percent {
    padding-top: 30px;
    color:white;
    font-size: 2rem;
}

#somme_collecte {
    width:80%;
    padding-bottom:0px;
    border-radius: 7px;
    margin:auto;
    
}

#somme_template{
    display: block;
    width: 75%;
    margin:auto;
}

#somme_collecte p{
    font-size: 4em;
    color:rgb(240,173,78);
}
#somme_collecte h1{
    color:rgb(240,173,78);
    font-weight: bold;
    margin-bottom: 20px;
}

#montant {
    font-size:3em;
}


#clickme{
    margin-top:25px;
}

#home .btn{
    margin-bottom:25px;
}

.promo-bar {
    height:15px;
    margin:10px;
    color:black;
    flex-grow: 1;
}
#objectif-p19{
    color: rgb(240,173,78);
}
.progress-bar {
    font-size: 0.8em;
    color: black;
    overflow: visible;
    padding-left: 2px;
}
.promo{
    margin: 0;
    color: white;
}
/* 3 Le Projet */

iframe{
    min-width: 350px;
    min-height: 200px;
    max-width: 720px;
    display: block;
    margin:auto;
}

#projet {
    background-color: white;
}   

#desc_projet{
    text-align: justify;
    margin-bottom: 20px;
}

#img_projet_main {
    width:100%;
    margin-bottom:25px;
    border-radius:5px;
}

#objectifs ul li {
    text-align: justify;
    padding-bottom: 10px;
}


.img_projet_gallery {
    margin: 10px 0px;
    width:100%;
}

/* 4 Temoignages */

#temoignages{
    background-color: #375e7b;
}
.temoignage{
    padding:10px 0 60px 0;
}
.side-image{
    margin-top:10px;
    padding:0 10px 0 10px;
}

blockquote {
    color:white;
    padding: 0 10px 0 10px;
    text-align: justify;
    font-size: 1.1em !important;
    border-left: 5px solid white;
}

.blockquote-footer {
    margin-top:10px;
    color:rgb(199, 199, 199);
    font-style: italic;
}

.blockquote.right{
    border-left: 0px;
    border-right: 5px solid white;
}
@media (max-width: 767px){ /** 767px car md de bootstrap a partir de 768px*/
    .side-image img{
        height: 30vw;
        margin-bottom: 20px;
    }
}

/* 5 Equipe */
#equipe {
    background-color: white;
}   
.line {
    width:100%;
    margin-bottom:20px;
    text-align: center;
}

.member {
    padding: 10px 30px 10px 30px ;
}
.member img{
    border: 8px solid transparent; 
    max-height: 30vw;
}
.member img:hover{
    border-color: rgba(55,94,123,0.4)
}

.desc {
    display: inline-block;
    margin:0px 25px;
    margin-top:10px;
    width:150px;
    height:60px;
}

.line a img {
    border: 8px solid transparent;
}

.line a img:hover{
    border-color:rgba(55,94,123,0.4);
}


/* Info */

#info{
    background-color: #375e7b;
    color:white;
    text-align:center;
}

